#form-grid {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 50px 150px 50px 50px;
}



#credit-card-front {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
    display: grid;
    grid-template-columns: 25px 200px 150px 25px;
    grid-template-rows: 25px 55px 55px 55px 25px;
}

#total {
    grid-column: 2/3;
    grid-row: 2/3;
}

#cardExpiration {
    grid-column: 3/4;
    grid-row: 4/5;
}
#month {
    width: 40%
}

#year {
    width: 40%;
}

#icon {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: right;
    font-size: 25px;
    margin-top: 0px;
}

#card-number {
    grid-column: 2/3;
    grid-row: 3/4;
}

#card-number input {
    width: 90%;
    height: 28px;
}

#card-holder {
    grid-column: 2/3;
    grid-row: 4/5;
}

#card-holder input {
    width: 90%;
    height: 28px;
}


#credit-card-back {
    grid-column: 2/4;
    grid-row: 2/4;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 15px 40px 1fr;
}

#black-bar {
    background-color: black;
    grid-column: 1/4;
    grid-row: 2/3;
}

#cvv {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 45px auto;
    text-align: center;
}

#cvv input {
    width: 65%;
    height: 28px;
}

button {
    margin-top: 15px;
    height: 80%;
    grid-row: 4/5;
    grid-column: 3/4;
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
}