main {
    font-family: "Open Sans", Helvetica, sans-serif;
}

#input-fields {
    padding: 5px;
    width: 90%;
}
input, select {
    width: 90%;
}

@media (min-width: 740px){

    #checkoutForm {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 500px;
    }
    input, select {
    width: 45%;
    }
}