html {
    background-color: rgb(79, 119, 230);
}


body {
    background-color: rgb(158, 158, 158);
    text-align: center;
}

header {
    background-color: rgb(79, 119, 230);
    color: white;
}
footer {
    background-color: rgb(79, 119, 230);
    width: 100%;
    height: 30px;
    color: white;
}

#picture-box {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
#picture-box img {
    margin: 0 auto;
    /* padding: 5px; */
    border: solid;
    width: 250px;
    height: 250px;
    border-color: rgb(255, 255, 255);
    border-style:inset;
    border-width: 5px;
    margin-bottom: 10px;
    object-fit: cover;
}

#menu-options {
    color: white;
    display: none;
}

@media screen and (min-width: 700px) {
    #picture-box {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    #picture-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu-btn {
        display: none;
    }
    #menu-options {
        display: inline;
        a {
            color: white;
            padding: 20px;
        }
    }
}