html {
    background-color: rgb(158, 158, 158);
}


body {
    background-color: rgb(158, 158, 158);
    text-align: center;
}

header {
    background-color: rgb(79, 119, 230);
    color: white;
}
footer {
    background-color: rgb(79, 119, 230);
    width: 100%;
    height: 30px;
    color: white;
}

#picture-box {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
#picture-box img {
    margin: 0 auto;
    /* padding: 5px; */
    border: solid;
    width: 250px;
    height: 250px;
    border-color: rgb(255, 255, 255);
    border-style:inset;
    border-width: 5px;
    margin-bottom: 10px;
    object-fit: cover;
    box-shadow: 5px 5px;
}

nav {
    color: white;
    display:block;
    margin: 0 auto;
    max-width: 150px;
    a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        text-align: center;
        padding: 20px;
        /* border-top: 1px solid gray; */
        
    }
    
}

.hide {
    display: none;
}

.change .menu-btn {
    display: none;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px) {
    #picture-box {
        grid-template-columns: 1fr 1fr;
        
    }
}

@media screen and (min-width: 1000px) {
    #picture-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu-btn {
        display: none;
    }
    #menu-options {
        display: inline;
        a {
            color: white;
            padding: 20px;
        }
    }
    nav {
        max-width: 100%;
    }
}