body {
    width: 85%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

#mission_statement_box {
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    outline:1px solid black;
}



h1, h2, h3, h4 {
    font-family: "Noto Serif", 'Times New Roman', Times, serif;
    width: 80%;
    margin: 20px auto;
    font-weight: 400;
}



.italics {
    font-style: italic;
}

#title {
    color:rgb(67, 134, 235);
    text-align: center;
    letter-spacing: 3px;
}

#mission_statement {
    text-align: center;
    letter-spacing: 3px;
}

hr {
    width: 80%;
}

.bullets {
    padding-left: 30px;
    line-height: 30px;
}

#logo {
    max-width: 140px;
    display: block;
    margin: 0 auto;
}

#main_paragraph {
    line-height: 30px;
}
