main {
    border: 5px solid #ffc671;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    display: block;
    margin: 0 auto;
    justify-self: center;
}

h1, h2, h3, h4 {
    font-family: serif;
}

nav {
    display: block;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}
a {
    padding: 20px;
    color: rgb(173, 6, 6);
    font-size: 1.5em;
    text-decoration: none;
}

.divider {
    padding-top: 50px;
}

hr {
    height: 2px;
    background-color: #ffc671;
    width: 100%;
}

article {
    /* padding: 25px; */
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: solid 2px #ffc671;
}
article h2 {
        text-align: center;
        color: rgb(173, 6, 6);
    }
article .above {
        text-align: right;
        padding-right: 20px;
    }
article img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.book-box p {
    padding: 20px;
}

footer {
    text-align: center;
    border: 5px solid #ffc671;
}

@media (min-width: 600px) {
     article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        border-bottom: none;
     }
    article .above {
            grid-column: 1/2;
        }
    article .book-title {
            text-align: left;
            padding-left: 20px;
        }
    article .book-box {
            grid-column: 2/3;
            grid-row: 1/9;
            border-left: thick solid #ffc671;
        }
    article .book-box p {
                padding: 20px;
            }
}
